<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
  <bean id ="accountRepository" class="com.repository.AccountRepositoryImpl"></bean>
  <bean id ="transactionRepository" class="com.repository.TransactionRepositoryImpl"></bean>
  <bean id ="notificationService" class="com.service.EmailNotificationService"></bean>
  <bean id ="bankService" class="com.service.BankService">
  <constructor-arg ref="accountRepository"></constructor-arg>
  <constructor-arg ref="transactionRepository"></constructor-arg>
  <constructor-arg ref="notificationService"></constructor-arg>
  </bean>

</beans>